.w-full {
  width: 100%;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.semibold {
  font-weight: 600;
}

.overline {
  letter-spacing: .125rem;
  text-transform: uppercase;
}

.mono {
  font-family: "Source Code Pro", monospace;
}

.list-style-none {
  list-style-type: none;
}

.text-decoration-none {
  text-decoration: none;
}

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.my-0\.5{
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.mb-0\.5{
  margin-bottom: .5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-2\.5{
  margin-top: 2.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mx-1 {
  margin: 0 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.text-primary-regular {
  color: var(--primary-regular);
}

.text-primary-dark {
  color: var(--primary-dark);
}

.text-white {
  color: var(--white)
}

.text-center {
  text-align: center;
}

.bg-primary-darker {
  background-color: var(--primary-darker);
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.form-control {
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .4rem;
  background-color: var(--white);
}

.form-control:focus, .form-control:active {
  outline: 0;
  border: 2px solid var(--outline-primary);
  border-radius: .4rem;
}

.form-block {
  display: block;
  width: 100%;
  padding: 1rem;
}

.form-label {
  margin-bottom: .5rem;
}

.form-checkbox {
  position: absolute;
  top: 9px;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: .25rem;
  background-color: var(--white);
  border: 1px solid var(--outline-primary);
}

.form-checkbox:checked, .form-checkbox:indeterminate {
  background-color: var(--primary-dark);
}

.form-radio {
  border-radius: 50%;
}

.form-radio:focus, .form-radio:active {
  outline: 0;
  border: 2px solid var(--outline-primary);
  border-radius: 50%;
}

.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check-container:hover input ~ .form-checkbox {
  background-color: var(--white);
}

.check-container input:checked ~ .form-checkbox {
  background-color: var(--primary-dark);
}

.form-checkbox::after {
  content: "";
  position: absolute;
  display: none;
}

.check-container input:checked ~ .form-checkbox::after {
  display: block;
}

.check-container .form-checkbox::after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid var(--white);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-text {
  margin-left: 36px;
}
