.skills--section {
  margin-top: 3rem;
}

.skills--section__title {
  text-align: center;
}

.skills--section__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2.2rem;
}

.skills--section__card {
  margin-top: 1rem;
  margin-bottom: 1.375rem;
}

.skills--section__card__title {
  display: flex;
}

.check-icon {
  margin-right: 1.2rem;
}

.skills--section__card__description {
  margin-top: .8rem;
  margin-left: 2.8rem;
  line-height: 1.688rem;
}

.hobbies--section {
  margin-top: 6.375rem;
}

.hobbies--section__title {
  text-align: center;
}

.hobbies--section__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(319px, 3fr));
  gap: 1rem;
}

.hobbies--section__card {
  text-align: center;
}

.card-img {
  margin: 0 auto;
}