.form-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.send-btn {
  grid-column: 1 / 3;
  margin: 1.75rem;
}

@media (min-width: 320px) and (max-width: 480px) {
  .form-area {
    grid-template-columns: 1fr;
  }

  .send-btn {
    grid-column: 1 / 2;
  }
}