.header {
  background-color: var(--primary-darker);
}

.header__logo {
  color: var(--primary-light);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: .5rem 0;
}

.navbar__links {
  display: flex;
  gap: 1.5em;
  align-content: center;
  padding: 0;
  flex-wrap: wrap;
  margin-left: auto;
}

.navbar__links .link {
  text-decoration: none;
  color: var(--primary-regular);
  padding: .5em .75em;
  border-radius: .5em;
}

.navbar__links .link:hover {
  background-color: var(--green-800);
}

.navbar__links .link:focus,
.header__logo:focus {
  outline: 2px solid var(--outline-primary);
  outline-offset: 1px;
}

.nav-menu {
  color: #fff;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  cursor: pointer;
  display: none;
  user-select: none;
}

#menu {
  display: none;
}

@media (min-width: 320px) and (max-width: 768px) {
  #open-menu,
  #close-menu {
    position: absolute;
    right: 1rem;
    top: .5rem;
    transition: opacity 1s linear;
  }
  .navbar__links {
    display: none;
    text-align: center;
    width: 100%;
    background-color: var(--primary-darker);
  }

  .navbar__links li {
    margin: 1rem auto;
  }
  
  .nav-menu {
    display: block;
  }

  #menu:checked ~ .navbar__links {
    display: block;
  }

  #menu:checked ~ #open-menu,
  #menu:not(:checked) ~ #close-menu
   {
    opacity: 0;
  }
}